/* Оглавление */

.content li {
    list-style-type: none;
    padding: 0;
    text-indent: 0;
    text-align: center;
    margin-top: 5px;
}

/* Аудио */

audio {
    text-shadow: none;
}

.song {
    display: flex;
    justify-content: center;
    align-items: center
}

/* Изоображения */

.main-info img {
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 1.5em;
}

figure {
    margin: 0;
    text-align: center;
    text-indent: 0;
}

.sreda img {
    border: none;
    width: 100%;
    padding: 10px;
    object-fit: cover;
}

.povedenieImgEgg {
    margin: 0 10px 0 10px;
    width: 30%;
    min-width: 160px;
    max-width: 190px;
    max-height: 155px;
    float: left;
    object-fit: cover;
}

.rightFloat {
    margin: 0 10px 0 10px;
    width: 30%;
    min-width: 160px;
    float: right;
    object-fit: cover;
}

/* Стих */

.stih {
    text-align: center;
}

.stih p {
    text-indent: 0;
}