img {
    box-sizing: border-box;
}

audio {
    text-shadow: none;
}

.song {
    display: flex;
    justify-content: center;
    align-items: center
}

figure {
    margin: 0;
    text-align: center;
    text-indent: 0;
}

.sreda img {
    width: 100%;
    padding: 10px;
    object-fit: cover;
}

.povedenieImgEgg {
    margin: 0 10px 0 10px;
    width: 30%;
    min-width: 160px;
    max-width: 190px;
    max-height: 155px;
    float: left;
    object-fit: cover;
}

.povedenieImgNest {
    margin: 10px;
    width: 30%;
    min-width: 160px;
    float: right;
    object-fit: cover;
}