/* Кнопки скролла */

main a {
    margin: 10px 0 10px 0;
    text-align: center;
    text-decoration: none;
    text-shadow: 3px 3px 2px black;
    color: white;
    display: block;
    line-height: 30px;
    font-size: 18px;
    letter-spacing: 2px;
    font-weight: bold;
    background: rgba(34, 34, 34, .2);
}

main a:hover, main a:focus {
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    background: rgba(0, 0, 0, .3);
    text-decoration: none;
}

main a:visited {
    color: white;
    text-decoration: none;
}

/* Оформление главного блока */

h1, h2, h3 {
    line-height: 80%;
}

h1 {
    padding-bottom: 10px;
    border-bottom: 1px solid white;
}

p {
    line-height: 1.3;
}

.main-info {
    text-shadow: 3px 3px 2px black;
    text-indent: 20px;
    letter-spacing: 1px;
    margin-top: 20px;
    padding: 10px;
    color: white;
    background: rgba(34, 34, 34, .8);
}